{% extends "base.html" %}

{% block announce %}
<b>🔊 NEWS: 🚁 <a class=anonce href=/en/ah64d/>AH-64D manual</a> is complete!</b><br>
<b>🤷‍♂️ CONTROVERSIAL FEATURE: When switching to the slate theme, picture colors are now inverted.</b><br>
<b>🔜 NEXT IN QUEUE: Viper and Hornet manuals update.</b>
{% endblock %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title %}
  {% endif %}
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://dcs-docs.lordvesel.win/ru/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Официальная документация DCS в гибком формате">
  <meta property="og:description" content="undefined">
  <meta property="og:image" content="https://dcs-docs.lordvesel.win/ru/img/og.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="dcs-docs.lordvesel.win">
  <meta property="twitter:url" content="https://dcs-docs.lordvesel.win/ru/">
  <meta name="twitter:title" content="Официальная документация DCS в гибком формате">
  <meta name="twitter:description" content="undefined">
  <meta name="twitter:image" content="https://dcs-docs.lordvesel.win/ru/img/og.png">
{% endblock %}
