.md-typeset h1 {
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.md-typeset h2 {
    font-weight: 600;
    font-size: 1.3rem;
}
.md-typeset h3 {
    font-weight: 600;
    font-size: 1.2rem;
	letter-spacing: 0em;
}
.md-typeset h4 {
    margin: 1em 0;
	font-weight: 600;
    font-size: 1.1rem;
	letter-spacing: 0em;
}
.md-typeset h5 {
    margin: 1.25em 0;
	font-weight: 700;
    font-size: 0.9rem;
	letter-spacing: -0.01em;
    color: var(--md-typeset-color);
}
.md-typeset table:not([class]) th {
    padding: .1rem .3rem;
}
.md-typeset table:not([class]) td {
    padding: .2rem .4rem;
}
kbd.keyboard-css {
    font-family: Menlo, Consolas, monospace;
    padding: 2px 6px;
    color: var(--md-default-bg-color);
    background-color: var(--md-default-fg-color);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.md-typeset figure {
    text-align: left;
}
.md-typeset figcaption {
    max-width: 100%;
    margin: .5em auto;
    font-style: italic;
}

.md-copyright {
    color: var(--md-footer-fg-color--lighter);
    font-size: .64rem;
    padding: .4rem 0;
    margin-top: 0;
}

.md-social {
    padding-top: 0px;
}

.md-footer-sponsors {
    color: var(--md-footer-fg-color--lighter);
}

.md-footer-sponsors img{
    display: block;
    height: 3em;
    margin: auto;
}
.md-footer-sponsors p,
.md-footer-sponsors span {
    display: block;
    margin: auto;
}

.md-footer-sponsors  a {
    margin: auto;
    display: flex;
}
