mkdocs
mkdocs-material
markdownsuperscript
markdown-captions
markdown-include
kbdextension
git+https://github.com/jldiaz/mkdocs-plugin-tags
git+https://github.com/stuebersystems/mkdocs-img2fig-plugin
