mkdocs
mkdocs-material==8.4.0rc1
markdown
markdown-captions
markdown-include
kbdextension
pymdown-extensions
git+https://github.com/jldiaz/mkdocs-plugin-tags
git+https://github.com/stuebersystems/mkdocs-img2fig-plugin
